.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* esercizio media query */
@media (max-width: 420px) {
  body {
    margin: 0;
  }

  #lezioni .row {
    width: 420px;
    background-color: #F2F2CE;
    display: inline-block;
    margin: 0;  
  }

  #lezioni .left img {
    width: 100px;
    height: 100px;
  }

  #lezioni .right img {
    width: 150px;
    height: 100px;
    padding-top: 20px;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin: 0 auto;
  }

  #lezioni .right h3,
  #lezioni .left h3 {
    margin-bottom: 0;
    font-size: 16px;
  }

  #lezioni .left,
  #lezioni .right {
    font-size: 13px;
    margin: 0 3px;
    padding-bottom: 10px;
  }

/* fine prima parte */
  #steps {
    background-color: white;
  }

  #steps .row {
    display: inline-block;
    width: 420px;
    margin: 0;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  #steps .left,
  #steps .central,
  #steps .right {
    font-size: 13px;
    margin: 0 3px;
  }

  #steps img {
    width: 100px;
    height: 100px;
  }

/* fine seconda parte */
  #why .row {
    width: 420px;
    margin: 0;
    background-color: #F2F2CE;
  }
  
  #why img {
    width: 65px;
    height: 65px;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
  margin-top: 10px;
  font-size: 13px;
}

  hr {
    border: 0.5px solid black;
  }

  #why h3,
  #steps h3 {
    margin-bottom: 0;
  }

}
/* fine terza parte */

